In [97]:
import pandas as pd
import os
key=pd.read_table("duiying.txt",sep="\t",engine="python")
key['time']=key['time'].astype(str).str.strip()
key['stocknumber']=key['stocknumber'].astype(str).str.strip()

In [98]:
pre=key.loc[:173,]
beh=key.loc[174:,]

In [99]:
pre['year']=pre['time'].str.slice(start=0,stop=4).astype(int)-1
beh['year']=beh['time'].str.slice(start=0,stop=4).astype(int)-1

E:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
E:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [100]:
pre['year']=pre['year'].astype(str)+'-12-31'
beh['year']=beh['year'].astype(str)+'-12-31'

E:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
E:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [101]:
pre[:3]

  stocknumber      time        year
0      600088  20070406  2006-12-31
1         607  20070421  2006-12-31
2      600320  20070519  2006-12-31

In [102]:
beh[:5]

    stocknumber      time        year
174      600153  20010809  2000-12-31
175         750  20061213  2005-12-31
176         835  20070216  2006-12-31
177         605  20070312  2006-12-31
178      600477  20070313  2006-12-31

In [103]:
del pre['time']
del beh['time']

以上处理的为 股票代码与对应时间.xls 这个文件.一下处理那十个文件。

1.对于有Typrep（也就是分A,B的股）如下操作。

In [104]:
f1=pd.read_table("FI_T1.txt",sep='\t',engine='python')

In [105]:
f1['Typrep']=f1['Typrep'].astype(str).str.strip()
f1['Stkcd']= f1['Stkcd'].astype(str).str.strip()
f1['Accper']=f1['Accper'].astype(str).str.strip()

In [106]:
a=f1.loc[f1['Typrep']=='A',:]
b=f1.loc[f1['Typrep']=='B',:]

先定义两个空的数据框，A和B。

In [107]:
A=pd.DataFrame()
B=pd.DataFrame()

In [108]:
A['Stkcd']=a['Stkcd']
B['Stkcd']=b['Stkcd']

In [109]:
A['Accper']=a['Accper']
B['Accper']=b['Accper']

In [110]:
f2=pd.read_table("FI_T2.txt",sep='\t',engine='python')

In [111]:
general=pd.DataFrame()
general['Stkcd']=f2['Stkcd']

In [112]:
general['Accper']=f2['Accper']

In [113]:
general['Accper']=f2['Accper'].str.strip()

In [114]:
general['Accper']=f2['Accper'].str.strip().astype(str)

In [115]:
general['Stkcd']=f2['Stkcd'].astype(str)
A['Stkcd']=a['Stkcd'].astype(str)
B['Stkcd']=b['Stkcd'].astype(str)
B['Accper']=b['Accper'].astype(str)
A['Accper']=a['Accper'].astype(str)

In [116]:
A[:5]

  Stkcd      Accper
0     4  2018-03-31
2     4  2017-12-31
4     4  2017-09-30
6     4  2017-06-30
8     4  2017-03-31

In [117]:
type(A)

pandas.core.frame.DataFrame

In [118]:
for i in range(1,10):
	f=pd.read_table("FI_T"+str(i)+".txt",sep="\t",engine="python")
	del f['Indcd']
	f['Stkcd']=f['Stkcd'].astype(str)
	if ('Typrep' in f.columns):
		f['Typrep']=f['Typrep'].astype(str)
		a=f.loc[f['Typrep']=='A',:]
		b=f.loc[f['Typrep']=='B',:]
		del a['Typrep']
		del b['Typrep']
		A=pd.merge(A,a,on=['Stkcd','Accper'],how='outer')
		B=pd.merge(B,b,on=['Stkcd','Accper'],how='outer')
	else:
		general=pd.merge(general,f,on=['Stkcd','Accper'])

In [119]:
A.shape#15860行 377列

(15860, 377)

In [120]:
B.shape

(14422, 377)

In [121]:
general.shape

(12166, 11)

以上：A数据框是所有Typrep为A的集合，B数据框是所有Typrep为B的集合，general是没有A，B的文件的集合。
下面将A和general，B和general融合，以上一下都取并集，会有好多na。

In [122]:
A.columns

Index(['Stkcd', 'Accper', 'F010101A', 'F010201A', 'F010301A', 'F010401A',
       'F010501A', 'F010601A', 'F010701B', 'F010702B',
       ...
       'F092002B', 'F092002C', 'F092102B', 'F092102C', 'F092202B', 'F092202C',
       'F092302B', 'F092302C', 'F092103B', 'F092103C'],
      dtype='object', length=377)

In [123]:
for i in A.columns:
	print(str(i)+"\t",end="")

Stkcd	Accper	F010101A	F010201A	F010301A	F010401A	F010501A	F010601A	F010701B	F010702B	F010801B	F010901B	F011001B	F011201A	F011301A	F011401A	F011501A	F011601A	F011701A	F011801A	F011901A	F012001A	F012101A	F012201B	F012301B	F012401B	F012501B	F012601B	F012701B	F030101A	F030201A	F030301A	F030401A	F030501A	F030601A	F030701A	F030801A	F030901A	F031001A	F031101A	F031201A	F031301A	F031401A	F031501A	F031601A	F031701A	F031801A	F031901A	F032001A	F032101B	F032201B	F032301B	F032401B	F032501B	F032601B	F032701B	F032801B	F032901B	F033001B	F033101B	F033201B	F033301B	F033401B	F033501A	F040101B	F040201B	F040202B	F040203B	F040204B	F040205C	F040301B	F040302B	F040303B	F040304C	F040401B	F040501B	F040502B	F040503B	F040504B	F040505C	F040601B	F040602B	F040603B	F040604C	F040701B	F040702B	F040703B	F040704C	F040801B	F040802B	F040803B	F040804B	F040805C	F040901B	F040902B	F040903B	F040904B	F040905C	F041001B	F041002B	F041003B	F041004B	F041005C	F041101B	F041201B	F041202B	F041203B	F041204B	F041205C	F041301B	F041401B	F041402B	F041403B	F041404B	F041405C	F041501B	F041502B	F041503B	F041504B	F041505C	F041601B	F041701B	F041702B	F041703B	F041704B	F041705C	F041801B	F041802B	F041803B	F041804B	F041805C	F050101B	F050102B	F050103B	F050104C	F050201B	F050202B	F050203B	F050204C	F050301B	F050302B	F050303B	F050304C	F050401B	F050402B	F050403B	F050404C	F050501B	F050502B	F050503B	F050504C	F050601B	F050601C	F050701B	F050801B	F050801C	F050901B	F051001B	F051101B	F051201B	F053201B	F053301B	F053301C	F051301B	F051301C	F051401B	F051401C	F051501B	F051501C	F051601B	F051601C	F051701B	F051701C	F051801B	F051801C	F051901B	F051901C	F052001B	F052001C	F052101B	F052101C	F052201B	F052201C	F052301B	F052301C	F052401B	F052401C	F052901B	F052901C	F053001B	F053002B	F053003B	F053004C	F053101B	F053102B	F053103B	F053104C	F053202B	F060101B	F060101C	F060201B	F060201C	F060301B	F060301C	F060401B	F060401C	F060901B	F060901C	F061001B	F061001C	F061201B	F061201C	F061301B	F061302B	F061301C	F061302C	F061401B	F061402B	F061401C	F061402C	F061501B	F061601B	F061701B	F061801B	F061901B	F062001B	F062101B	F062201B	F062301B	F062401B	F070101B	F070201B	F070301B	F080101A	F080102A	F080201A	F080301A	F080302A	F080401A	F080501A	F080502A	F080601A	F080602A	F080701B	F080702B	F080801B	F080802B	F080901B	F080902B	F081001B	F081002B	F081101B	F081102B	F081201B	F081202B	F081301B	F081401B	F081501B	F081601B	F081602C	F081701B	F081801B	F081901B	F082001B	F082101B	F082201B	F082202B	F082301B	F082302B	F082401B	F082402B	F082501B	F082502B	F082601B	F082701A	F082702A	F082801A	F082802A	F082703A	F082803A	F080703B	F081003B	F081603B	F080603A	F081103B	F080503A	F080803B	F081203B	F082602B	F090101B	F090101C	F090102B	F090102C	F090103B	F090103C	F090104B	F090104C	F090201B	F090201C	F090202B	F090202C	F090301B	F090301C	F090401B	F090401C	F090501B	F090501C	F090601B	F090601C	F090701B	F090701C	F090801B	F090801C	F090901B	F090901C	F091001A	F091101A	F091201A	F091301A	F091401A	F091501A	F091601A	F091701A	F091801B	F091801C	F091901B	F091901C	F092001B	F092001C	F092101B	F092101C	F092201B	F092201C	F092301B	F092301C	F092401B	F092501B	F092601B	F092601C	F092602B	F092602C	F090302B	F090302C	F090402B	F090402C	F090502B	F090502C	F090602B	F090602C	F090702B	F090702C	F090802B	F090802C	F090902B	F090902C	F091002A	F091102A	F091202A	F091302A	F091402A	F091502A	F091602A	F091702A	F091802B	F091802C	F091902B	F091902C	F092002B	F092002C	F092102B	F092102C	F092202B	F092202C	F092302B	F092302C	F092103B	F092103C

以上为A所有的列名。

In [124]:
alla=pd.merge(A,general,on=['Stkcd','Accper'],how='outer')
allb=pd.merge(B,general,on=['Stkcd','Accper'],how='outer')

In [125]:
alla.shape

(15860, 386)

In [126]:
allb.shape

(14594, 386)

In [127]:
alla[:3]

,Stkcd,Accper,F010101A,F010201A,F010301A,F010401A,F010501A,F010601A,F010701B,F010702B,...,F092103C,F020101,F020102,F020103,F020104,F020105,F020106,F020107,F020108,F020109
0,4,2018-03-31,2.155549,2.011670,1.754348,1.560092,NaN,1.003415e+08,-10.010703,-8.673935,...,-0.512289,1764625.00,295887.89,1.58,NaN,0.0035,NaN,NaN,0.0245,0.0245
1,4,2017-12-31,2.068985,1.857892,1.639933,1.424039,NaN,7.513941e+07,-6.522223,-3.561629,...,0.391137,11575951.17,-3009230.52,6.41,-2.25,-0.0358,NaN,NaN,0.1020,0.1020
2,4,2017-09-30,2.535571,2.342521,2.015749,1.946468,NaN,9.333296e+07,11.449100,11.473436,...,-0.047750,122154.49,-5556412.49,-4.60,NaN,-0.0662,NaN,NaN,-0.0647,-0.0647

In [128]:
pre_a=pd.merge(pre,alla,how='inner',left_on=['stocknumber','year'],right_on=['Stkcd','Accper'])

In [129]:
pre_b=pd.merge(pre,allb,how='inner',left_on=['stocknumber','year'],right_on=['Stkcd','Accper'])

In [130]:
beh_a=pd.merge(beh,alla,how='inner',left_on=['stocknumber','year'],right_on=['Stkcd','Accper'])

In [131]:
beh_b=pd.merge(beh,allb,how='inner',left_on=['stocknumber','year'],right_on=['Stkcd','Accper'])

In [132]:
print(str(pre_a.shape)+"\t"+str(pre_b.shape)+"\t"+str(pre_a.shape)+"\t"+str(pre_b.shape))

(167, 388)	(168, 388)	(167, 388)	(168, 388)

差球不多就这四个文件。

In [133]:
pre_a.to_csv("pre_a.txt",sep="\t",header=True,index=False)

In [134]:
pre_b.to_csv("pre_b.txt",sep="\t",header=True,index=False)
beh_a.to_csv("beh_a.txt",sep="\t",header=True,index=False)
beh_b.to_csv("beh_b.txt",sep="\t",header=True,index=False)

股票代码与对应时间.xls这个文件有366行，_a有168行，_b有167行，一共335行，剩下31行应该就是没找到。

In [135]:
sourcetime=pre['year'].append(beh['year'])

In [136]:
sourcenum=pre['stocknumber'].append(beh['stocknumber'])

In [137]:
import collections

In [138]:
card=collections.namedtuple('card',['Stkcd','Accper'])

In [139]:
source=card(sourcenum,sourcetime)

In [140]:
laternum=pre_a['Stkcd'].append(pre_b['Stkcd'])

In [141]:
latertime=pre_a['Accper'].append(pre_b['Accper'])

In [142]:
later=card(laternum,latertime)

In [143]:
so=sourcetime.astype(str)+" "+sourcenum.astype(str)

In [144]:
la=latertime.astype(str)+" "+laternum.astype(str)

In [145]:
so=pd.Index(la)

In [146]:
la=pd.Index(la)

In [152]:
re=so.difference(la)

In [153]:
re.shape

(0,)

In [149]:
re

Index([], dtype='object')

In [150]:
so

Index(['2006-12-31 600088', '2006-12-31 607', '2006-12-31 600320',
       '2006-12-31 600743', '2006-12-31 600187', '2007-12-31 990',
       '2007-12-31 600491', '2008-12-31 2138', '2008-12-31 600549',
       '2008-12-31 600323',
       ...
       '2013-12-31 600847', '2013-12-31 600113', '2013-12-31 889',
       '2013-12-31 600850', '2014-12-31 2264', '2014-12-31 600392',
       '2014-12-31 300350', '2014-12-31 502', '2014-12-31 2419',
       '2015-12-31 520'],
      dtype='object', length=335)

In [151]:
sourcenum.astype(str)

0      600088
1         607
2      600320
3      600743
4      600187
5         990
6      600491
7        2138
8      600549
9      600323
10       2328
11     600836
12        962
13       2088
14     601177
15       2259
16     600848
17     600520
18     600586
19     300036
20     601727
21     601877
22       2050
23       2349
24     600068
25        889
26     600633
27     601012
28        990
29       2281
        ...
336    300191
337      2211
338      2018
339      2476
340    600645
341    600429
342    300116
343    300360
344      2131
345    600172
346      2566
347      2290
348    600764
349      2297
350      2016
351    600396
352    300050
353       592
354    300181
355       498
356    600777
357      2426
358       609
359    601010
360    603606
361    600179
362    600289
363    600739
364    600219
365    601880
Name: stocknumber, Length: 366, dtype: object